[submodule ".flutter"]
	path = .flutter
	url = https://gogs.liangzhicn.com/cfli/flutter.git
	branch = stable
[submodule "jenkins"]
	path = jenkins
	url = git@gitlab.liangzhicn.com:jenkins-ci/flutter-app.git
	branch = master
