[submodule ".flutter"]
	path = .flutter
	url = https://github.com/flutter/flutter.git
	branch = stable
[submodule "lz-flutter"]
	path = lz-flutter
	url = https://gitlab.liangzhicn.com/lz-flutter/lz-flutter.git
	branch = master
[submodule "jenkins"]
	path = jenkins
	url = https://gitlab.liangzhicn.com/jenkins-ci/flutter-app.git
	branch = master
